$component: 'zaak-header';

.#{$component} {
  border-radius: 40px 0px;
  height: 100px;
  background-color: var(--grey-2, #D2D2D2);
  margin-bottom: 6rem;

  &-title {
    padding: 1rem 2rem;
    margin-left: 3rem;
    border-radius: 10px 0px;
    border-left: 2px solid var(--color-palette-primary);
    border-bottom: 2px solid var(--color-palette-primary);
    width: fit-content;
    background-color: #fff;
    position: relative;
    top: 3rem;
  }
}
