$component: 'zaak-details';

.#{$component} {
  &-table {
    width: 100%;

    th,
    td {
      padding: var(--zaak-details-padding, 1em);
      line-height: var(--zaak-details-line-height, 1);
    }

    tr {
      border-bottom: 1px solid var(--zaak-details-border-color, #D2D2D2);
    }
  }
}