$button: 'zaak-collapse-button';

.#{$button} {
  --zaak-collapse-button-background-color: #f2f2f2;
  --zaak-collapse-button-background-color-hover: #d41422;
  --zaak-collapse-button-color-hover: #fff;

  border: 0;
  display: flex;
  margin-bottom: 0.75rem;
  align-items: center;
  width: 100%;
  background-color: transparent;
  text-align: left;
  padding: 1rem 1rem;
  transition: 0.15s ease all;
  background-color: var(--zaak-collapse-button-background-color);


  &[aria-expanded="true"],
  &:hover {
    background-color: var(--zaak-collapse-button-background-color-hover);
    color: var(--zaak-collapse-button-color-hover);

    .#{$button}__folder-icon {
      fill: var(--zaak-collapse-button-color-hover);
    }

    .#{$button}__chevron-icon {
      fill: var(--zaak-collapse-button-color-hover);
    }
  }

  &[aria-expanded="true"] {
    .#{$button}__chevron-icon {
      transform: rotate(180deg);
    }
  }

  &__folder-icon {
    $size: 20px;
    width: $size;
    height: $size;
    margin-right: 1rem;
    transition: 0.15s ease all; 
  }

  &__chevron-icon {
    $size: 20px;
    width: $size;
    height: $size;
    margin-left: auto;
    transition: 0.15s ease all; 
  }
}